@charset "UTF-8";
header,nav,article,footer,aside,#hatter{
    padding:5px;
    margin:5px;
    border:1px solid black;
}
main{
    width: 80%;
    max-width: 1200px;
    margin:auto;
    background:white;
}
main{
    display:grid;
    grid-template-areas:
        "h h h h h"
        "n a a a as"
        "f f f f f";
    grid-gap:0px;
}
header{
    grid-area:h;
}
nav{
    grid-area:n;
}
article{
    grid-area:a;
}
footer{
    grid-area:f;
}
aside{
    grid-area:as;
}
@media screen and (max-width:800px){
    main{   
    grid-template-areas:
        "h "
        "n "
        "a "
        "as "
        "f "
        ;
    width: 100%;
    }
}

